body {
    font-family: 'Merriweather', serif;
}
.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-part {
    margin-top: 50px;
    margin-right: 30px;
}
.first-part p {
    font-size: 14px;
    margin-right: 300px;

}
.container {
    margin: 0 70px;
}
.heading {
    font-size: 20px;
    border-left: 3px solid rgb(240, 20, 20);
    padding-left: 10px;
    
}
.color-change {
    color: rgb(238, 69, 8);
}
.explore {
    background: rgb(240, 20, 20);
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
}
.first-part-image img {
    height: 550px;
    width: 500px;
}
/* ---------first part end------- */
.second-section {
    margin-top: 40px;
}
.second-section h1 {
    text-align: center;
    font-size: 40px;
}
.missions {
    display: flex;
    justify-content: center;
}
.first-color {
    background: rgba(247, 126, 206, 0.63);
    border-radius: 15px;
    margin-right: 30px;
    padding: 20px;
}
.second-color {
    background: rgba(207, 130, 203, 0.63);
    border-radius: 15px;
    margin-right: 30px;
    padding: 20px;
}
.third-color {
    background: rgba(190, 151, 135, 0.63);
    border-radius: 15px;
    margin-right: 30px;
    padding: 20px;
}
.missions img {
    height: 90px;
    width: 90px;
}
.focus {
    padding-top: 60px;
}
.text h1 {
    text-align: left;
}
.text {
    padding: 0 80px;
}
.img img {
    padding-right: 30px;
    height: 400px;
    width: 400px;
}
/* ----------2nd part end -----------*/


/* -----------3rd part end -------*/
.footer {
    background: #000;
    text-align: center;
    padding: 20px 0;
}
.footer h1 {
    color: #fff;
    font-size: 30px;
}
.color-base {
    color: rgb(255, 0, 0);
    font-size: 30px;
}
.footer p {
    font-size: 14px;
    color: #fff;
}

/* ------Footer part end------ */
